@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $BG_gray;
  font-size: 1.4em;

  section {
    padding: 5rem 20px 5rem;
    text-align: center;
    font-family: $bodyFont;

    @media (min-width: $break_sml) {
      padding: 10rem 0 10rem;
    }
  }

  header {
    background-color: #1e1e1e;
    text-align: center;

    @media (min-width: $break_sml) {
      text-align: left;
    }

    .logo {
      width: 250px;
      padding: 20px 10px 20px 10px;

      @media (min-width: $break_sml) {
        width: 350px;
        padding: 20px 20px 20px 60px;
      }
      
    }
  }

  nav, .main-nav {
    background-color: $primary_black;
    padding: 10px 0px 0px 0px;
    text-align: center;
    @media (min-width: $break_sml) {
      padding: 10px 20px 0px 60px;
      text-align: left;
    }
    .nav-btn, .nav-btn:visited {
      color: $primary_light;
      padding: 0 20px;

      @media (min-width: $break_sml) {
        padding: 0 30px;
      }

      &:hover {
        color: $primary_black;
        background-color:rgba(255, 255, 255, 0.85);
      }
    }
  }

  h1, h2 {
    font-family: $headerFont;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 68px;
    line-height: 60px;
    letter-spacing: 0.5px;
  }

  .btn-big {
    padding:20px 30px 20px 30px;
    background-color:rgba(0, 0, 0, 0.5);
    color: $primary_light;
    font-size:30px;
    letter-spacing:-1px;
    &:hover {
      color: $primary_black;
      background-color:rgba(255, 255, 255, 0.85);
    }
  }

  .container {
    width: 100%;
    @media (min-width: $break_sml) {
      width: 90%;
    }
  }

  #gallery {
    background-image: url('../images/FPO_gallery.jpg');
    background-size: cover;

    h1 {
      color: $primary_light;
      margin: 0 0 0px 0;
    }
    h2 {
      color: $primary_light;
      font-family: $bodyFontCondensed;
      font-size: 24px;
      margin: 0 0 50px 0;
    }

    .container {
      // height: 350px;
    }
  }
  #about {
    background-image: url('../images/about_bgPattern.jpg');
    h3, h4 {
      font-family: $headerFont;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
      margin: 20px 0 5px 0;
    }
    .row {
      margin-bottom: 30px;
    }
  }

  #routes {
    .phone {
      max-width:480px;
      @media (min-width: $break_sml) {
        max-width:800px;
        right:30px;
        top:60px;
      }
    }
  }

  #sponsors {
    background-color: $primary_gray;
    h2 {
      color: $primary_light;
    }

    .sponsor {
      width: 25%;
      padding: 10px;
      @media (min-width: $break_sml) {
        width: 22%;
      }
    }

  }

  footer {
    padding: 30px;
    background-color: $primary_black;
    h1, h2, h4 {
      font-family: $headerFont;
      color: $primary_light;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 32px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }

    a {
      color: $primary_light;
      text-decoration: none;
      &:hover {
        color: $white;
      }
      &:visited {
        color: $primary_light;
        text-decoration: none;
      }
    }

  }
}

