@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $BG_gray;
  font-size: 1.4em;

  section {
    padding: 5rem 20px 5rem;
    text-align: center;
    font-family: $bodyFont;

    @media (min-width: $break_sml) {
      padding: 10rem 0 10rem;
    }
  }

  header {
    background-color: #1e1e1e;
    text-align: center;

    @media (min-width: $break_sml) {
      text-align: left;
    }

    .logo {
      width: 250px;
      padding: 20px 10px 20px 10px;

      @media (min-width: $break_sml) {
        width: 350px;
        padding: 20px 20px 20px 60px;
      }
      
    }
  }

  nav, .main-nav {
    background: url('../images/nav_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: $primary_black;


    padding: 10px 0px 0px 0px;
    text-align: center;
    @media (min-width: $break_sml) {
      padding: 10px 20px 0px 60px;
      text-align: left;
    }
    .nav-btn, .nav-btn:visited {
      color: $primary_light;
      padding: 0 20px;
      border: 1px solid #222;
      background-color: #333;
      border-radius: 0;
      letter-spacing: 0px;
      // font-size: 18px;

      @media (min-width: $break_sml) {
        padding: 0 30px;
        font-size: 16px;
      }

      &:hover {
        color: $primary_black;
        background-color:rgba(255, 255, 255, 0.85);
      }
    }
  }

  h1, h2 {
    font-family: $headerFont;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 68px;
    line-height: 60px;
    letter-spacing: 0.5px;
  }

  .inline-link {
    color: $link_color;
    text-decoration: none;
  }

  .btn-big, input[type="submit"] {
    padding:20px 30px 20px 30px;
    background-color:rgba(0, 0, 0, 0.5);
    color: $primary_light;
    font-family: $headerFont;
    font-size:30px;
    letter-spacing:1px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid $primary_black;
    &:focus {
      background-color:rgba(0, 0, 0, 0.5);
      color: $primary_light;
    }
    &:hover {
      color: $primary_black;
      background-color:rgba(255, 255, 255, 0.85);
    }
  }

  .inverted {
    background-color:rgba(255, 255, 255, 0.75);
    color: $primary_black;
    border: 2px solid $primary_light;
    margin: 20px 0 0 0;
    &:focus {
      background-color:rgba(255, 255, 255, 0.75);
      color: $primary_black;
    }
    &:hover {
      color: $primary_light;
      background-color:rgba(0, 0, 0, 0.85);
    }
  }

  .container {
    width: 100%;
    @media (min-width: $break_sml) {
      width: 90%;
    }
  }

  #register {
    background-image: url('../images/register_bg.jpg');
    background-size: cover;

    h1 {
      color: $primary_light;
      margin: 0 0 0px 0;
    }
    h2 {
      color: $link_color;
      // font-family: $bodyFontCondensed;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
      font-size: 32px;
      margin: 0 0 50px 0;
    }

    .container {
      // height: 350px;
    }
  }
  #about {
    background-image: url('../images/about_bgPattern.jpg');
    h3, h4 {
      font-family: $headerFont;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.5px;
      margin: 20px 0 5px 0;
      a {
        color: $primary_black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:visited, &:active {
          color: $primary_black;
          text-decoration: none;
        }
      }
    }
    .row {
      margin-bottom: 30px;
    }
  }

  #admission {
    background-image: url('../images/promo_bg_admission.jpg');
    color: $primary_light;
    h3, h4 {
      font-family: $headerFont;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.5px;
      margin: 20px 0 5px 0;
    }
    h4 {
      font-size: 16px;
      color: $primary_lightGray;
    }
    form {
      width: 400px;
      margin: 0px auto;
      margin-bottom: 30px;
    }
    label {
      display: block;
      float: left;
      text-align: right;
      padding: 5px 10px 0 0;
      width: 200px;
      font-family: $headerFont;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
    input[type=text] {
      float: left;
      width: 40px;
      font: bold 20px Helvetica, sans-serif;
      padding: 3px 0 0 0;
      text-align: center;
      color: $primary_black;
    }
    form div {
      overflow: hidden;
      margin: 0 0 5px 0;
      .button {
        margin: 0 0 0 5px;
        cursor: pointer;
        width: 44px;
        height: 40px;
        float: left;
        text-align: center;
        padding:10px;
      }

      .inc_icon {
        height: 20px;
        width: 20px;
      }

      .buttons {
        padding: 20px 0 0 140px;
      }
    }
  }

  #routes {
    .phone {
      max-width:480px;
      @media (min-width: $break_sml) {
        max-width:800px;
        right:30px;
        top:60px;
      }
    }
    #routesTXstate_img {
      width: 65px;
      margin: 20px;
      // opacity: 0.75;
    }
  }

  #sponsors {
    color: #FFF;
    background-color: $primary_gray;
    h2 {
      color: $primary_light;
      padding-bottom: 30px;
    }

    .sponsor-list {
      padding-bottom: 30px;
    }

    h4 {
      color: $primary_light;
      font-size: 20px
    }

    .sponsor {
      width: 32%;
      padding: 5px;
      @media (min-width: $break_sml) {
        width: 32%;
        padding: 10px;
      }
    }

    .disclaimer {
      color: #999;
      margin-top: 20px;
    }

  }

  footer {
    padding: 60px;
    background-color: $primary_black;
    text-align: center;

    @media (min-width: $break_sml) {
      text-align: left;
    }

    h1, h2, h4 {
      font-family: $headerFont;
      color: $primary_light;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 32px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }

    a {
      color: $primary_light;
      text-decoration: none;
      &:hover {
        color: $white;
      }
      &:visited {
        color: $primary_light;
        text-decoration: none;
      }
    }

  }
}

